name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install QBE
        run: |
          # Download official QBE 1.2 release tarball
          curl -L https://c9x.me/compile/release/qbe-1.2.tar.xz -o qbe.tar.xz
          tar -xf qbe.tar.xz

          # Build and install
          cd qbe-1.2
          make -j"$(nproc)"
          sudo install qbe /usr/local/bin/qbe
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
